@font-face {
    font-family: 'Visual_Norse_Bold';
    src: url('./assets/font/Norse-Bold.otf') format('otf'), /* Modern Browsers */
         url('./assets/font/Norse-Bold.otf') format('otf'), /* Older Browsers */
         url('./assets/font/Norse-Bold.otf') format('otf'); /* Oldest Browsers */
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Visual_Norse_Bold';
}
body, h1, p, form {
    margin: 0;
    padding: 0;
}

.main_container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr; 
}

.signup-container {
    display: flex;
}
.side_container {
    background: url('./assets/side_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.logo {
    background-color: rgba(0, 0, 0, 0.473);
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40%;
}
.logo img {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
}
.logo h1 {
    color: white;
    font-family: 'Visual_Norse_Bold';
}
.header h1 {
    font-size: 2em;
    color: white;
}

.header p {
    color: white;
    margin-bottom: 1em;
}

.signup-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
}

.form-row {
    display: flex;
    margin-bottom: 15px;
}

.form-row input {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-row input:last-child {
    margin-right: 0;
}

.form-footer {
    text-align: center;
}

.form-footer button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.form-footer button:hover {
    background-color: #45a049;
}

.form-footer p {
    margin-top: 15px;
}

form a {
    color: #3498db;
}

footer {
    text-align: center;
    color: white;
    margin-top: 50px;
}
