.template2 {
    display: flex;
    flex-direction: column;

  }
  
  .template2 .header {
    text-align: center;
    padding: 20px;
    background: #ccc;
    color: #000;
    border-radius: 8px 8px 0 0;
  }
  
  .template2 .sidebar {
    background: #f9f9f9;
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .template2 .sidebar h2 {
    color: #000;
    margin-bottom: 10px;
  }
  
  .template2 .sidebar p,
  .template2 .sidebar a {
    color: #333;
    margin-bottom: 5px;
  }
  
  .template2 .content {
    padding: 20px;
    width: 100%;
  }
  
  .template2 .content h3 {
    color: #000;
  }
  
  .template2 .content strong {
    color: #000;
  }
  
  .template2 .content .experience,
  .template2 .content .education {
    margin-bottom: 20px;
  }
  
  .template2 .content .experience-item,
  .template2 .content .education-item {
    margin-bottom: 10px;
  }
  