/* Template1.css */

.template1 {
    display: flex;
    height: 100dvh;
  }
  
  .template1 .sidebar {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 250px;
    border-radius: 8px 0 0 8px;
  }
  
  .template1 .sidebar h2 {
    color: white;
  }
  
  .template1 .sidebar p,
  .template1 .sidebar a {
    color: #ddd;
    margin-bottom: 10px;
  }
  
  .template1 .sidebar .section {
    margin-bottom: 20px;
  }
  
  .template1 .content {
    padding: 20px;
    width: calc(100% - 250px);
    border-radius: 0 8px 8px 0;
  }
  
  .template1 .content h3 {
    color: #333;
  }
  
  .template1 .content strong {
    color: #007bff;
  }
  
  .template1 .content .experience,
  .template1 .content .education {
    margin-bottom: 20px;
  }
  
  .template1 .content .experience-item,
  .template1 .content .education-item {
    margin-bottom: 10px;
  }
  