@font-face {
    font-family: 'Visual_Norse_Bold';
    src: url('./assets/font/Norse-Bold.otf');
}

* {
    font-family: 'Visual_Norse_Bold';
}

body, h1, p, form {
    margin: 0;
    padding: 0;
}

.main_container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr; 
}

.signup-container {
    display: flex;
}

.side_container {
    background: url('./assets/side_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.logo {
    background-color: rgba(0, 0, 0, 0.473);
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40%;
}
.logo img {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
}
.logo h1 {
    color: white;
}

.header h1 {
    font-size: 2em;
    color: white;
}

.header p {
    color: white;
    margin-bottom: 1em;
}
